{{ define "title" }}Admin Center{{ end }}
{{ define "content" }}
<h1>Admin Center</h1>

<ul>
    <li><a href="/admin/settings">App Settings</a></li>
    <li><a href="/blog/edit">Post Blog Entry</a></li>
    <li><a href="/admin/editor">Page Editor</a></li>
    <li><a href="/admin/users">User Management</a></li>
</ul>
{{ end }}
