/*
 * Generally useful blog styles.
 */

/* Styles for the blog title <h1> */
.blog-title {
    display: block;
}
a.blog-title {
    text-decoration: underline;
}

/* The blog entry publish date */
.blog-meta {
    font-style: italic;
    font-size: smaller;
    margin-bottom: 2rem;
}
.blog-meta .blog-private, .blog-meta .blog-unlisted {
    color: #F00;
}
.blog-meta .blog-draft {
    color: #909;
}

/* Comment metadata line */
.comment-meta {
    font-style: italic;
    font-size: smaller;
    margin-bottom: 1rem;
}

/* Address formatting */
address {
    white-space: pre-line;
    font-style: italic;
}
